<!doctype html>
<html>
  <head>
    <title>wc-name demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script type="module" src="../wc-name.js"></script>
    <style>
      .blocks {
        display:flex;
        display-direction:row;
        flex-wrap: wrap;
      }
      .block {
        display:flex;
        display-direction:column;
        flex-wrap: wrap;
        white-space: normal;
      }
      .code {
        padding: 20px;
        color:#FFF; 
        background: #000;
      }
      .attributes {
        padding-left: 20px;
      }
    </style>
  </head>

  <body>
    <div class="vertical-section-container centered">
      <h3>Basic wc-name Demo</h3>
      <div class="blocks">
        <pre class="block code">
          <code>
            &lt;wc-name&gt;&lt;/wc-name&gt;
          </code>
        </pre>
        <pre class="block attributes">
          <h3>Attributes</h3>
          <ul>
            <li>property1 (String)</li>
            <li>property2 (Number)</li>
          </ul>
        </pre>
      </div>

      <wc-name></wc-name>
    </div>
  </body>
</html>